.Avatar{
	width: 50px;
}

.row{
	margin-top: 25px;
}

h3{
	margin: 0px;
}

.Comment-date{
	font-size: 8px;
}

.Comment-text{
	font-size: 12px;
	border-bottom: 1px solid #CACACA;
}

.UserBadges{
	margin-top: 5px;
}

.Comment{
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #CACACA;
}

.badge{
	font-size: 6px;
}